---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - ./prometheusrule.yaml
configMapGenerator:
  - name: cert-manager-dashboard
    files:
      - cert-manager-dashboard.json=https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/cert-manager/dashboards/cert-manager.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  labels:
    grafana_dashboard: "true"
helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    repo: https://charts.jetstack.io/
    version: v1.12.0
    valuesFile: values.yaml
