---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
resources:
  - ./dnsendpoint.yaml
  - ./secret.sops.yaml
configMapGenerator:
  - name: cloudflared-configmap
    files:
      - ./configs/config.yaml
generatorOptions:
  disableNameSuffixHash: true
helmCharts:
  - name: app-template
    releaseName: echo-server
    namespace: default
    repo: https://bjw-s.github.io/helm-charts/
    version: 1.5.0
    valuesFile: values.yaml
